
.navbar-container{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: silver;
    color: black;
}

.navbar-container Link{
    text-decoration: none;
}
